.card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  gap: 20px;
}

.btn {
  padding: 0.75rem 2rem;
  font-size: 18px;
  background-color: rgb(20, 24, 52);
  color: #fff;
  border: 2px solid #fff;
  margin-top: 10px;
  cursor: pointer;
}
.btn:hover {
  background: #fff;
  color: #000;
}

.turns {
  margin-top: 40px;
}
